@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: rgb(193, 228, 166);
    background-size: 100% 100%;
    color: rgb(17, 17, 17);
}

/* Main section */

/* Create Post section */

#create-post-container {
    margin: 35px auto;
    width: 700px;
    height: 588px;
    background-color: rgb(234, 246, 225);
    border-radius: 8px;
}

#create-post-container form {
    margin: auto;
    width: 90%;
    padding-top: 10px;
}

#create-post-container h3 {
    text-align: center;
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
}

/* Create Post Title */

#create-post-title-container input {
    width: 99%;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid rgb(202, 202, 202);
    background-color: rgb(242, 255, 248);
}

/* Create Post Description */

#create-post-description-container textarea {
    width: 99%;
    resize: none;
    border-radius: 5px;
    border: 0.5px solid rgb(202, 202, 202);
    background-color: rgb(242, 255, 248);
}

/* Create Post Allergies */

#create-post-allergies {
    margin-top: 5px;
    border-radius: 5px;
    border: 0.5px solid rgb(202, 202, 202);
    padding: 10px;
}

#create-post-allergies input {
    margin-right: 20px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background-color: rgb(242, 255, 248);
    
}

#create-post-allergies label {
    font-size: 13px;
}

.checkbox-container {
    display: flex;
}

/* Create Post Max */

#create-post-max-container input {
    width: 50px;
    height: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(202, 202, 202);

}


/* Create Post Button */

#create-post-button {
    display: flex;
    justify-content: center;
}

#create-post-button button {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: rgb(190, 209, 177);
    border: 0px solid rgb(184, 231, 203);
}

#create-post-button button:hover {
    cursor: pointer;
}


/* Main section end */