.content-section {
    background-color: rgb(234, 246, 225);
    height: 100%;
    width: 60%;
    margin: 35px auto;
    padding: 20px;
    border-radius: 8px;
}

.media-body {
    padding: 4px;
    line-height: 1.8;
}

.meta-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.delete-button-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.delete-button {
    margin-left: 20px;
    display: relative;
    width: 40%;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: lightgrey;
    border: 0.2px solid grey;
    color: rgb(17, 17, 17);
    font-size: 15px;
    border-radius: 3px;
    border-radius: 3px;
}

.join-button {
    margin-left: 20px;
    display: relative;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: lightgrey;
    border: 0.2px solid grey;
    color: rgb(17, 17, 17);
    font-size: 15px;
    border-radius: 3px;
    border-radius: 3px;
}


.article-content {
    display: flex;
    justify-content: space-between;
}

.title-and-description {
    width: 45%;
}


.various-content {
    width: 45%;
}

.various-content p {
    margin-bottom: 2px;
}
