.content-section {
    background-color: rgb(234, 246, 225);
    height: 100%;
    width: 60%;
    margin: 35px auto;
    padding: 20px;
    border-radius: 8px;
}

.media-body {
    padding: 4px;
    line-height: 1.8;
}

.meta-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.delete-button-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.delete-button {
    text-decoration: none;
    text-align: center;
    background-color: rgb(190, 209, 177);
    border: 0px solid rgb(190, 209, 177);
    width: 45%;
    height: 120%;
    border-radius: 3px;
    color: black;
}

.join-button {
    text-decoration: none;
    text-align: center;
    background-color: rgb(190, 209, 177);
    border: 0px solid rgb(190, 209, 177);
    width: 100%;
    height: 110%;
    border-radius: 3px;
    color: black;
}


.article-content {
    display: flex;
    justify-content: space-between;
}

.title-and-description {
    width: 45%;
}


.various-content {
    width: 45%;
}

.various-content p {
    margin-bottom: 2px;
}