{% extends "APP/base.html" %}

{% block content %}
    {% for Message in messages %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' %}">{{ Message.author }}</a>
                    <small class="text-muted">{{ Message.to_user }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ Message.title }}</a></h2>
                <p class="article-content">{{ Message.message }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock %}