{% extends "APP/base.html" %}


{% block content %}
<div id="profile-box">
    <h2 id="profile-title">PROFIL</h2>
    <div class="info-box">
        <h3>Brukernavn</h3> 
        <p>{{ user.username }}</p>
    </div>
    <div class="info-box">
        <h3>Fullt navn</h3>
        <p>Ola Nordmann</p>
    </div>
    <div class="info-box">
        <h3>Allergier</h3>
        <p>Egg, Gluten</p>
    </div>
    <div class="info-box">
        <h3>Adresse</h3>
        <p>Bakkegata 1, 7030 Trondheim</p>
    </div>
    <div class="info-box">
        
    </div>
</div>
    
{% endblock content %}
