{% extends "APP/base.html" %}


{% block content %}
<div id="profile-box">
    <h2 id="profile-title">PROFIL</h2>
    <div class="info-box">
        <h3>Brukernavn</h3> 
        <p>{{ user.username }}</p>
    </div>
    <div class="info-box">
        <h3>Fullt navn</h3>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <div class="info-box">
        <h3>Allergier</h3>
        <p>eggs, gluten</p>
    </div>
    <div class="info-box">
        <h3>Addresse</h3>
        <p>Nedre Møllenberg gate 50a</p>
    </div>
    <div class="info-box">
        
    </div>
</div>
    
{% endblock content %}
