{% extends "APP/base.html" %}
{% load static %}

{% block content %}
    <h1 id="Header-annonse">Annonser</h1>
    {% for Middag in middager %}
        <a href="{% url 'middag-detail' Middag.id %}">
            <article class="middagsannonse">
                <div class="middags-content">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'profile' %}">{{ Middag.author }}</a>
                        <small class="text-muted">{{ Middag.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'middag-detail' Middag.id %}">{{ Middag.title }}</a></h2>
                    <p class="article-content">{{ Middag.content }}</p>
                </div>
            </article>
        </a>
    {% endfor %}

{% endblock content %}