{% extends "APP/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Slette middag</legend>
                <h2>Er du sikker på at du vil slette denne middagen? {{ object.title }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Slett</button>
                <a class="btn btn-outline-secondary" href="{% url 'middag-detail' object.id %}">Kanseller</a>
            </div>
        </form>
    </div>
{% endblock %}