{% extends "APP/base.html" %}
{% load static %}

{% block content %}
    <article class="content-section">
        <div class="media-body">
            <div class="meta-container">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                </div>
                {% if object.author == user %}
                <div class="delete-button-container">
                    <a class="delete-button" href="{% url 'middag-update' object.id %}"><p>Endre</p></a>
                    <a class="delete-button" href="{% url 'middag-delete' object.id %}"><p>Slett</p></a>
                </div>
                {% endif %}
                {% if object.author != user %}
                <div class="delete-button-container">
                    <a class="join-button" id="join-button"><p>Meld meg på</p></a>
                </div>
                {% endif %}
            </div>
            <div class="article-content">
                <div class="title-and-description">
                    <h2><a class="article-title">{{ object.title }}</a></h2><br>
                    <p class="article-content">{{ object.content }}</p>
                </div>
                <div class="various-content">
                    <p class="article-content">Antall gjester: {{ object.guests }}</p>
                    <p class="article-content">Dele utgifter: {{ object.sharing }}</p>
                    <p class="article-content">Allergener: {{ object.allergener }}</p>
                    <p class="article-content">Kostnad: {{ object.sharing_cost }}</p>
                    <p class="article-content">Adresse: {{  object.address }}</p>
                    <p class="article-content">Postnr: {{  object.postnr }}, {{  object.poststed }} </p>
                    <p class="article-content">Dato: {{  object.date_of_dinner|date:"F d, Y H:i"  }} </p>
                </div>
            </div>

        </div>
    </article>
    <script src="{% static '/js/join-dinner.js' %}"></script>
{% endblock %}