{% extends "APP/base.html" %}
{% load static %}
{% block content %}
    <!-- Create post -->
    <div id="create-post-container">

        <form method="POST">
            {% csrf_token %}
            <h3>OPPRETT MIDDAG</h3>
            <!-- Title input -->
            <div class="input-container" id="create-post-title-container">
                <label for="title">Tittel
                    <div> {{ form.title }} </div>
                </label>
            </div>
            <!-- Description input -->
            <div class="input-container" id="create-post-description-container">
                <label for="content">Beskrivelse
                    <div> {{ form.content }} </div>
                </label>
            </div>
            <!-- Address input -->
            <div class="input-container" id="create-post-address-container">
                <div id="create-post-address">
                    <label for="address">Gate
                        <div> {{ form.address }} </div>
                    </label>
                    <label for="postnr">Postnr
                        <div> {{ form.postnr }} </div>
                    </label>
                    <label for="poststed">Poststed
                        <div> {{ form.poststed }} </div>
                    </label>
                </div>
            </div>
            <!-- Allergies input -->
            <div class="input-container" id="create-post-allergies-container">
                <label for="allergener">Allergener
                    <div id="create-post-allergies">
                        {{ form.allergener }}
                    </div>
                </label>
            </div>
            <!-- Share? -->
            <div class="input-container" id="create-post-share-container">
                <div id="share">
                    <label for="sharing">Ønsker du å dele utgiftene?</label>
                        <div id="create-post-share"> {{ form.sharing }} </div>

                </div>
                <div id="amount-container">
                    <label for="sharing_cost" class="hidden">Kostnader (NOK):</label>
                        <div> {{ form.sharing_cost }} </div>

                </div>
            </div>
            <!-- Date and Guest limit input -->
            <div class="input-container" id="data-and-guest-limit-container">
                <div id="date">
                    <label for="date_of_dinner">Når skal middagen ta sted?</label>
                        {{ form.date_of_dinner }}

                </div>
                <div id="create-post-max-container">
                    <label for="guests">Antall gjester:</label>
                        {{ form.guests }}

                </div>

            </div>
            <!-- Submit button -->
            <div id="create-post-button">
                <button type="submit" onclick="calculateCost()">Submit</button>
            </div>
        </form>
    </div>
    <!-- Create post end -->
    <script>
        function addPlaceholder(){
            var address = document.getElementById('id_address');
            var postnr = document.getElementById('id_postnr');
            var poststed = document.getElementById('id_poststed');
            var date_dinner = document.getElementById('id_date_of_dinner');
            address.placeholder = "Nordre gate 1";
            postnr.placeholder = "7011";
            poststed.placeholder = "Trondheim";
            date_dinner.placeholder = "2021-03-01 20:00"
        }
        addPlaceholder()

    </script>
    <script src="{% static '/js/create-post.js' %}"></script>
{% endblock content %}

